<div class="container">

  <h3>Contact</h3>
  <form
    #f="ngForm"
    id="myForm"
  >
    <div
      class="form-group"
      fxLayoutAlign="space-between"
    >
      <mat-form-field
        fxFlex="45"
        appearance="fill"
      >
        <mat-label>Enter your first name</mat-label>
        <input
          matInput
          placeholder="Legend"
          type="text"
          name="firstname"
          [(ngModel)]="data.firstname"
          required
        >


        <mat-icon
          matSuffix
          color="accent"
        >badge</mat-icon>
      </mat-form-field>

      <mat-form-field
        fxFlex="45"
        appearance="fill"
      >

        <mat-label>Enter your last name</mat-label>
        <input
          matInput
          placeholder="Legend"
          name="lastname"
          [(ngModel)]="data.lastname"
          required
        >


        <mat-icon
          matSuffix
          color="accent"
        >badge</mat-icon>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field
        fxFlex="100"
        appearance="fill"
      >
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          name="email"
          [(ngModel)]="data.email"
          placeholder="Enter your email adress here"
        >
        <mat-icon
          matSuffix
          color="accent"
        >email</mat-icon>
      </mat-form-field>

    </div>


    <div class="form-group">
      <mat-form-field
        fxFlex="100"
        appearance="fill"
      >
        <mat-label>Message</mat-label>
        <input
          matInput
          type="text"
          name="message"
          [(ngModel)]="data.message"
          placeholder="Enter your message here"
        >
        <mat-icon
          matSuffix
          color="accent"
        >chat</mat-icon>
      </mat-form-field>

    </div>

    <div class="form-group">
      <mat-form-field
        fxFlex="100"
        appearance="fill"
      >
        <mat-label>Additional details...</mat-label>

        <textarea
          matInput
          type="text"
          name="email"
          [(ngModel)]="data.moredetails"
          style="height:100px;"
        ></textarea>

      </mat-form-field>

    </div>


    <div>
      <button
        style="height: 40px;"
        mat-flat-button
        color="accent"
        fxFlex="100"
        type="submit"
        class="btn btn-primary"
        (click)="submitForm(); f.resetForm() "
      >Submit</button>
    </div>


  </form>
</div>
