<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 p-md-5 m-md-1">
  <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden w-100">
    <div class="my-3 py-3">
      <h2 class="display-5 text-success home-h2">How Singe Page Application Works?</h2>
    </div>

    <div
      class="bg-success shadow-sm mx-auto p-5 m-3"
      style="width: 80%; height: 300px; border-radius: 21px 21px 21px 21px;"
    >
      <h1 class="client">Client</h1>
      <span class="spanBlack arrowbig"> ----------------></span>
      <p>Initial Request</p>
      <p>AJAX</p>
    </div>
    <p><span>1.</span>We make Initial Request from client to server</p>
    <p><span>3.</span>Then for multiple requests later on, the AJAX calls happen</p>
    <a
      class="btn btn-outline-danger m-3"
      href="#"
    >Client Details</a>
  </div>

  <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden w-100">
    <div class="my-3 py-3">
      <h2 class="display-5 text-danger home-h2">Server Communication With Client</h2>
    </div>

    <div
      class="bg-danger shadow-sm mx-auto p-5 m-3"
      style="width: 80%; height: 300px; border-radius: 21px 21px 21px 21px;"
    >
      <h1 class="client">Server</h1>
      <span class="spanBlack arrowbig">
        <---------------- </span>
          <p class="text-white">HTML</p>
          <p class="text-white">JSON Data</p>
    </div>
    <p class="text-white"><span>2.</span> Server looks up for the resource and the respons is sent back in the form of
      HTML on the clients browser</p>
    <p class="text-white"><span>4.</span>And the JSON data is sent back to the Client </p>
    <a
      class="btn btn-outline-success m-3"
      href="#"
    >Server Detail</a>
  </div>
</div>
