<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 p-md-5 m-md-1">
  <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden w-100">
    <div class="my-3 py-3">
      <h2 class="display-5 text-success home-h2">Get Started With Angular Cli</h2>
      <p class="lead text-white home-p">A command line interface for Angular</p>
    </div>

    <div
      class="bg-success shadow-sm mx-auto p-5 m-3"
      style="width: 80%; height: 300px; border-radius: 21px 21px 21px 21px;"
    >
      <p>Using “Run” to open Command Prompt
        Enter “cmd” and click “OK” to open Command Prompt.</p>
      <p>npm install -g @angular/cli</p>
      <p>ng new my-dream-app</p>
      <p>cd my-dream-app</p>
      <p>ng serve</p>
    </div>

    <p>The Angular CLI makes it easy to create an application that already works, right out of the box. It already
      follows our best practices!</p>
    <p>Generate components, routes, services and pipes with a simple command. The CLI will also create simple test
      shells for all of these.</p>
    <p>Easily test your app locally while developing.</p>
    <p>Make your code really shine. Run your unit tests, your end-to-end tests, or execute the official Angular linter
      with the breeze of a command.</p>
    <a class="btn btn-outline-danger m-3">Get Started</a>
  </div>
  <div class="bg-customlight me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden  w-100">
    <div class="my-3 p-3">
      <h2 class="display-5 text-danger home-h2">How To Install Bootstrap</h2>
      <p class="lead home-p">And Import Within Angular Project</p>
    </div>
    <div
      class="bg-dark shadow-sm mx-auto p-5"
      style="width: 80%; height: 300px; border-radius: 21px 21px 21px 21px;"
    >
      <p class="text-danger">npm install bootstrap</p>
      <p class="text-danger">Configure angular.json:</p>
      <p class="text-danger">"styles": [
        "node_modules/bootstrap/dist/css/bootstrap.min.css",
        "styles.scss"
        ]</p>
      <p class="text-danger">@import '~bootstrap/dist/css/bootstrap.min.css';</p>
      <p class="text-danger">Adding the required Bootstrap modules in app.module.ts</p>
    </div>
    <a class="btn btn-outline-secondary text-dark m-5 p-3">More Details</a>
    <h2 class="display-5 text-success home-h2">How To Install NodeJs and Git</h2>
    <p class="text-success">Install node.js // https://nodejs.org/en/</p>
    <a class="btn btn-outline-secondary text-dark m-5 p-3">Get Started</a>
  </div>
</div>
