<main>
  <header
    class="d-flex flex-column justify-content-between flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom bg-custom"
  >
    <p class="h5 my-0 me-md-auto fw-normal text-white">
      <a
        routerLink="/home"
        class="navi active"
      >Legendz</a>
    </p>
    <nav class="my-2 my-md-0 me-md-3">
      <a
        routerLink="/about"
        routerLinkActive="active"
        class="p-2 text-white"
      >About</a>
      <a
        routerLink="/intro"
        routerLinkActive="active"
        class="p-2 text-white"
      >Quiz</a>
      <a
        routerLink="/contact"
        routerLinkActive="active"
        class="p-2 text-white"
        href="#"
      >Contact</a>

    </nav>
  </header>
</main>
